@font-face {
  font-family: "SegoeUI-Bold";
  src: url("./fonts/Bold.woff") format("woff"),
    url("./fonts/Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SegoeUI";
  src: url("./fonts/Regular.woff") format("woff"),
    url("./fonts/Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SegoeUI-Light";
  src:  url("./fonts/Light.woff") format("woff"),
    url("./fonts/Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
