$c-content--grid-area:                   content !default;
$c-content--margin:                      0 auto !default;
$c-content--margin-right--desktop:       120px !default;

.c-content {
  grid-area: $c-content--grid-area;
  margin: $c-content--margin;
  @include respond-to('medium') {
    margin-right: $c-content--margin-right--desktop;
  }
}
