$c-image-grid-area :               image !default;
$c-image-margin :                  0 auto !default;
$c-image-img-margin--desktop :     0 40px !default;
$c-image-margin-top--desktop-lg :  3.375rem !default;

.c-image {
    grid-area: $c-image-grid-area;
    margin: $c-image-margin;
    @include respond-to('medium') {
      img {
        margin: $c-image-img-margin--desktop;
      }
   }
  @include respond-to('large') {
    margin-top: $c-image-margin-top--desktop-lg;
  }
}
