$c-image-grid-column--start:        1 !default;
$c-image-grid-column--end:          3 !default;
$c-image-grid-column--desktop:      1 !default;
$c-image-grid-row:                  2 !default;
$c-image-grid-row--start--desktop:  1 !default;
$c-image-grid-row--end--desktop:    3 !default;
$c-image-margin :                   0 auto !default;
$c-image-img-margin--desktop :      0 167px 0 auto !default;
$c-image-margin-top--desktop-xl :   3.375rem !default;
$c-image-img-float--desktop :       right !default;

.c-image {
    grid-column-start: $c-image-grid-column--start;
    grid-column-end: $c-image-grid-column--end;
    grid-row: $c-image-grid-row;
    margin: $c-image-margin;
    @include respond-to('medium') {
      grid-column: $c-image-grid-column--desktop;
      grid-row-start: $c-image-grid-row--start--desktop;
      grid-row-end: $c-image-grid-row--end--desktop;
      margin-right: 0;
      img {
        margin: $c-image-img-margin--desktop;
        float: $c-image-img-float--desktop;
        max-height: 90vh;
      }
      @include clearfix();
   }
  @include respond-to('extralarge') {
    margin-top: $c-image-margin-top--desktop-xl;
  }
}
