$c-input--border-width:            1px !default;
$c-input--border-style:            solid !default;
$c-input--border-color:            $main--white !default;
$c-input--border-radius:           8px !default;
$c-input--padding:                 10px !default;
$c-input--padding--desktop:        15px 20px !default;
$c-input--font-size:               size(16px) !default;
$c-input--font-size--desktop:      size(20px, $main--font-size--xl) !default;
$c-input--flex-grow--desktop:      1 !default;
$c-input--line-height:             1.5 !default;
$c-input--line-height--desktop:    1.2 !default;
$c-input--color:                   #9fa3a7 !default;

.c-input {
  border: $c-input--border-width $c-input--border-style $c-input--border-color;
  border-top-left-radius: $c-input--border-radius;
  border-bottom-left-radius: $c-input--border-radius;
  padding: $c-input--padding;
  font-size: $c-input--font-size;
  line-height: $c-input--line-height;
  color: $c-input--color;
  @include respond-to('medium') {
    flex-grow: $c-input--flex-grow--desktop;
    font-size: $c-input--font-size--desktop;
    line-height: $c-input--line-height--desktop;
    padding: $c-input--padding--desktop;
  }
}
