$c-title--margin-top:              size(23px) !default;
$c-title--margin-top--desktop:     size(29px, $main--font-size--xl) !default;
$c-title--margin-bottom:           size(10px) !default;
$c-title--margin-bottom--desktop:  size(30px, $main--font-size--xl) !default;
$c-title--font-size:               size(24px) !default;
$c-title--font-size--desktop:      size(48px, $main--font-size--xl) !default;
$c-title--font-family:             $main--font-family--light !default;
$c-title--line-height:             1.17 !default;
$c-title--text-align:              center !default;
$c-title--text-align--desktop:     left !default;
$c-title--color:                   $main--white !default;

.c-title {
  margin-top: $c-title--margin-top;
  margin-bottom: $c-title--margin-bottom;
  font-size:$c-title--font-size;
  line-height: $c-title--line-height;
  font-family: $c-title--font-family;
  text-align: $c-title--text-align;
  color: $c-title--color;
  @include respond-to('medium') {
      margin-top: $c-title--margin-top--desktop;
      margin-bottom: $c-title--margin-bottom--desktop;
      font-size: $c-title--font-size--desktop;
      text-align: $c-title--text-align--desktop;
  }
}

