$o-grid--display:                      grid !default;
$o-grid--template-columns:             1fr 1fr !default;
$o-grid--template-rows:                .5fr .75fr 1fr !default;
$o-grid--gap:                          1px 1px !default;
$o-grid--template-areas:                "logotipe logotipe" "image image" "content content" !default;
$o-grid--template-areas--desktop:       "image logotipe" "image content" "image content" !default;

.o-grid {
  display: $o-grid--display;
  grid-template-columns: $o-grid--template-columns;
  grid-template-rows: $o-grid--template-rows;
  gap: $o-grid--gap;
  grid-template-areas: $o-grid--template-areas;
  @include respond-to('medium') {
      grid-template-areas: $o-grid--template-areas--desktop;
  }
}
